<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-lewagon">
      <div class="container-fluid">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "popcorn.jpg" %>
        <% end %>
        <div class="navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Movies
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "All Movies", root_path, class: "dropdown-item" %></li>
                <li><%= link_to "Now Playing", movies_list_path('now_playing'), class: "dropdown-item" %></li>
                <li><%= link_to "Popular", movies_list_path('popular'), class: "dropdown-item" %></li>
                <li><%= link_to "Top Rated", movies_list_path('top_rated'), class: "dropdown-item" %></li>
                <li><%= link_to "Upcoming", movies_list_path('upcoming'), class: "dropdown-item" %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Series
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "All Series", tv_series_path, class: "dropdown-item" %></li>
                <li><%= link_to "Airing today", tv_series_list_path('airing_today'), class: "dropdown-item" %></li>
                <li><%= link_to "Popular", tv_series_list_path('popular'), class: "dropdown-item" %></li>
                <li><%= link_to "Top Rated", tv_series_list_path('top_rated'), class: "dropdown-item" %></li>
                <li><%= link_to "On the air", tv_series_list_path('on_the_air'), class: "dropdown-item" %></li>
              </ul>
            </li>
            <li>
              <%= link_to "Actors", actors_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to "My Lists", lists_path, class: "nav-link" %>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
